<h1><%= @recipe.name %></h1>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
            <li><%= plural(ingredient) %> - <%= ingredient.quantity %> <%= ingredient.unit %></li>
    <% end %>
</ul>