

<h1><%= @category.name %></h1>
<ul>
    <% @category.recipes.each do |recipe| %>
        <li><%= link_to(recipe.name, recipe_path(recipe)) %>
    <% end %>
</ul>

<%= button_to "Edit Category", edit_category_path(@category) %><br>
<%= button_to "Delete Category", category_path(:id => @category.id), :method => :delete %>